.accordion-title{
    width: 100%;
    padding: 15px;
    text-align: left;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.accordion-title:hover{
    background-color: #e0e0e0;
}

.accordion-title[aria-expanded="true"]{
    background-color: #d0d0d0;
}

.accordion-content{
    padding: 15px;
    background-color: #fafafa;
    border-top: 1px solid #ddd;
    font-size: 14px;
}

.accordion-content ul{
    list-style-type: none;
}

.accordion-content ul li{
    margin: 2px 0;
    padding: 5px 0;
}
.accordion-content ul li a{
    text-decoration: none;
    color: rgb(60, 60, 60);
}
.accordion-content ul li a:hover{
    color: gray;
}

.accordion-item{
    /* margin-bottom: 10px; */
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.right{
    font-weight: bold;
    float: right;
}